$primary: #a59bcf;
$secondary: #e5dbe3;
$tertiary: #ede9e8;
$bg: white;

.btn-primary {
    background-color: $primary;
    &:hover {
        background-color: darken($primary, 10%);
    }
}

.header {
    .header-logo {
        img {
            width: 220px;
        }
    }
}

.bg-primary {
    background-color: $primary;
}

.pretty-link {
    color: $primary !important;
}

.text-shadow {
    text-shadow: 1px 1px 2px #00000055;
}

#hero-section {
    height: 70vh;
    background: url('../../img/hero-section-bg-alt-2.jpg') no-repeat center 18%;
    background-size: cover;
    transition-property: background-position;
}