.btn-primary {
  background-color: #a59bcf; }
  .btn-primary:hover {
    background-color: #8679be; }

.header .header-logo img {
  width: 220px; }

.bg-primary {
  background-color: #a59bcf;
}

.pretty-link {
  color: #a59bcf !important;
}

.hero-title {
  margin-top: 120px;
}

#hero-section {
  height: 70vh;
  background: url("../../img/hero-section-bg.jpg") no-repeat center 18%;
  background-size: cover;
  transition-property: background-position;
}

@media only screen and (max-width: 756px) {
  .hero-title {
    margin-top: 64px;
  }
}